on:
  workflow_call:
    inputs:
      attest:
        description: "Attest the build"
        default: true
        type: boolean

name: "Build"

permissions:
  contents: read

jobs:
  detectToolVersions:
    name: "Detect Tool Versions"

    runs-on: ubuntu-latest

    outputs:
      zigVersion: "${{ steps.toolVersions.outputs.ZIG_VERSION }}"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: "Read .tool-versions"
        id: toolVersions
        run: |
          ZIG_VERSION="$(cat .tool-versions | grep zig | cut -d' ' -f2-)"
          echo Zig: $ZIG_VERSION
          echo "ZIG_VERSION=${ZIG_VERSION}" >> $GITHUB_OUTPUT

  binary:
    name: "Binary"

    runs-on: ubuntu-latest

    needs: ['detectToolVersions']

    permissions:
      id-token: write
      contents: read
      attestations: write

    env:
      MIX_ENV: prod

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29 # v2.2.1
        with:
          version: "${{ needs.detectToolVersions.outputs.zigVersion }}"

      - run: sudo apt-get install -y xz-utils

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-runtime-env
        with:
          mix-env: prod

      - run: mix release --overwrite
      - name: "Attest provenance"
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        id: attest-provenance
        if: "${{ inputs.attest }}"
        with:
          subject-path: 'burrito_out/oid_certo_*'
      - name: "Copy provenance"
        if: "${{ inputs.attest }}"
        run: |-
          for FILE in burrito_out/oid_certo_*; do
            cp "$ATTESTATION" $FILE.sigstore
          done
        env:
          ATTESTATION: "${{ steps.attest-provenance.outputs.bundle-path }}"
      
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: binary
          path: burrito_out/*

