on:
  workflow_call:
    inputs:
      releaseName:
        required: true
        type: string
      stable:
        required: false
        type: boolean
        default: false

name: "Release"

permissions:
  contents: read

jobs:
  create:
    name: Create Release

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Create prerelease
        if: ${{ !inputs.stable }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          --repo ${{ github.repository }}
          --title ${{ inputs.releaseName }}
          --prerelease
          --generate-notes
          ${{ inputs.releaseName }}
      - name: Create release
        if: ${{ inputs.stable }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          --repo ${{ github.repository }}
          --title ${{ inputs.releaseName }}
          --generate-notes
          ${{ inputs.releaseName }}
            
      - name: "Download Docs Artifact"
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: docs
          path: .
      - name: "Download EScript Artifact"
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: binary
          path: .

      - name: Upload Artifacts
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release upload
          --repo ${{ github.repository }}
          --clobber "${{ inputs.releaseName }}"
          docs.tar.gz* oid_certo*
